#header {
    height: 230px;
    background-image: url("IMG1.JPG");
    background-repeat: no-repeat;
    background-position: center center;
    font-family: 'Shift', sans-serif;
    background-size:     cover;
}
#header h2 {
    color: white;
    font-size: 4em;
    position: relative;
    top: 30px;
    left: 550px;
    display: inline;
}
#header p {
    color: white;
    font-size: 1.3em;
    font-weight: bold;
    position: relative;
    top: 60px;
    left: 300px;
    display: inline
}
#menu {
    color: white;
    position: relative;
    top: 100px;
    left: 340px;
    display: inline-block;
}
#menu li{
    color: white
    font-weight: bold;
    display: inline;
    text-transform: uppercase;
    margin-right: 14px;
}
#menu input {
    font-size: 0.7em;
    text-transform: lowercase;
    text-align: right;
    position: relative;
    top: -4px;
}


.whichCityImg{
  position: relative;
  border: 5px;
  padding: 5px;
  top: 10px;
  background-color:	#A9A9A9;


}

.heading{
  position: relative;
  top: 5px;
  text-align: center;
  border: 0px;
  padding: 0px;


}

.paragraphWhichCity{
	position: relative;
	bottom: 310px;
  left: 420px;
	width: 800px;
  margin-bottom: -21%;
  border: 5px;
  padding: 5px;
}

.MandarinWhichCity{
  position: relative;
	bottom: 50px;
  left: 420px;
	width: 800px;
  font-weight: bold;
  background-color:	#A9A9A9;
  border: 5px;
  padding: 5px;

}

.subHeading{
	position: relative;
	bottom: 300px;
  left: 420px;
	width: 800px;
  border: 5px;
  padding: 5px;
}


.ForeignLanguages{
    font-size: 2em;
    font-weight: bold;
}

.translationMandarin1{
  position: relative;
  text-align: center;
}

.translationMandarin2{
  position: relative;
  text-align: center;
}

.translationMandarin3{
  position: relative;
  text-align: center;

}

.translationEnglish1{
  position: relative;
  text-align: center;
}

.translationEnglish2{
  position: relative;
  text-align: center;
}

.translationEnglish3{
  position: relative;
  text-align: center;
}

.MandarinSymbolHello{
  position: relative;
  text-align: center;
}

.MandarinSymbolThankYou{
  position: relative;
  text-align: center;
}

.MandarinSymbolBye{
  position: relative;
  text-align: center;
}

table, th, td {
    border: 2px solid black;

    padding: 5px;
}

.headingHistorical{
  position: relative;
  border: 10px;
  padding: 5px;
  text-align: center;
  width: 800px;
  bottom: -15px;
}

.ClockTowerImg{
  position: relative;
	bottom: 45px;
  border: 5px;
  padding: 5px;
  background-color: #A9A9A9;
}

.headingClockTower{
  position: relative;
	bottom: 0px;
  left: 420px;
	width: 800px;
  border: 5px;
  padding: 5px;
}

.paragraphClockTower{
  position: relative;
	bottom:340px;
  left: 420px;
	width: 800px;
  margin-bottom: -21%;
  border: 5px;
  padding: 5px;
}

.ChineseParagraphClockTower{
  position: relative;
	bottom:50px;
  left: 420px;
	width: 800px;
  background-color: #A9A9A9;
  font-weight: bold;
  border: 5px;
  padding: 5px;
}

.AfricanTradingPostImage{
  display:inline-block;
  position: relative;
	bottom:25px;
  left: 850px;
  border: 5px;
  padding: 5px;
  background-color: #A9A9A9;
}

.AfricanTradingPost{
  position: relative;
	bottom: -15px;
  left:10px;
  width: 800px;
  border: 5px;
  padding: 5px;

}

.paragraphAfricanTradingPost{
  position: relative;
	bottom:315px;
  left: 10px;
  width: 800px;
  margin-bottom: -21%;
  border: 5px;
  padding: 5px;
}

.mandarinParagraphAfricanTradingPost{
  position: relative;
	bottom:50px;
  left: 10px;
  width: 800px;
  background-color: #A9A9A9;
  font-weight: bold;
  border: 5px;
  padding: 5px;
}

.SouthAfricaChina{
  position: relative;
	top:-50px;
  width: 150px;
  left: 300px;
  border: 5px;
  padding: 5px;
}

.AlfredBasin{
  position: relative;
  left:430px;
  width: 800px;
  bottom: 70px;
  border: 5px;
  padding: 5px;
}

.AlfredBasinImage{
  position: relative;
	bottom: 110px;
  left: 10px;
  border: 5px;
  padding: 5px;
  background-color: #A9A9A9;
}

.paragraphAlfredBasin{
  position: relative;
	bottom:370px;
  left: 430px;
	width: 800px;
  margin-bottom: -25%;
  border: 5px;
  padding: 5px;

}

.MandarinParagraphAlfredBasin{
  position: relative;
	bottom:5px;
  left: 430px;
	width: 800px;
  background-color: #A9A9A9;
  font-weight: bold;
  border: 5px;
  padding: 5px;
}
